@{
    ViewBag.Title = "OnSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success!</h2>
<p>If you want to modify your event it is very important that you remember this code:</p>
<h2>
    @TempData["GUID"]
</h2>