<div class="jumbotron">
    <h1>Discovr</h1>
    <p class="lead">Discovr is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Share an event!</h2>
        <p>In progress...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Share &raquo;</a></p>
    </div>
</div>