<div class="jumbotron">
    <h1>Discovr</h1>
    <p class="lead">Discovr is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Share an event!</h2>
        <p>I want to share an event!</p>
        <p><a class="btn btn-default" href="/EventHost/Index">Share &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modify your event!</h2>
        <p>Time to make some changes</p>
        <p><a class="btn btn-default" href="/EventHost/Modify">Modify &raquo;</a></p>
    </div>
</div>