<div class="jumbotron">
    <h1>Discovr</h1>
    <p class="lead">This webpage is meant for event hosts only.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Share an event!</h2>
        <p>Upload your event to share them with all users</p>
        <p><a class="btn btn-default" href="/EventHost/Index">Share my event &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modify your event!</h2>
        <p>Need to make changes to one of your event? No problem</p>
        <p><a class="btn btn-default" href="/EventHost/Modify">Modify my event &raquo;</a></p>
    </div>
</div>